<section class="body-content">
    <div class="class_1-summary">
        <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="school" srcset="">
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta ratione ab voluptatum, accusantium esse harum, iste commodi mollitia eum quia tempora ullam dolore nostrum iure consectetur, quo explicabo suscipit fugiat!</article>
    </div>
    <div class="class_1-summary">
        <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="school" srcset="">
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta ratione ab voluptatum, accusantium esse harum, iste commodi mollitia eum quia tempora ullam dolore nostrum iure consectetur, quo explicabo suscipit fugiat!</article>
    </div>
    <div class="class_1-summary">
        <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="school" srcset="">
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta ratione ab voluptatum, accusantium esse harum, iste commodi mollitia eum quia tempora ullam dolore nostrum iure consectetur, quo explicabo suscipit fugiat!</article>
    </div>
    <div class="class_1-summary">
        <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="school" srcset="">
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta ratione ab voluptatum, accusantium esse harum, iste commodi mollitia eum quia tempora ullam dolore nostrum iure consectetur, quo explicabo suscipit fugiat!</article>
    </div>
    <div class="class_1-summary">
        <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="school" srcset="">
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta ratione ab voluptatum, accusantium esse harum, iste commodi mollitia eum quia tempora ullam dolore nostrum iure consectetur, quo explicabo suscipit fugiat!</article>
    </div>
    <div class="class_1-summary">
        <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="school" srcset="">
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta ratione ab voluptatum, accusantium esse harum, iste commodi mollitia eum quia tempora ullam dolore nostrum iure consectetur, quo explicabo suscipit fugiat!</article>
    </div>
</section>